*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #36ffaf;
}
.container{
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box
{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s ease-in-out;
}
.box:hover{
    scale: 1.005;
}
button{
    cursor: pointer;
    border: 1px solid transparent;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
button:hover{
  border: 1px solid black;
  background: transparent;
  color: black;
  box-shadow: 4px 3px;
}
button:nth-child(3)
{
    margin: 50px 0px 0px 12px;
}
button:nth-child(2)
{
    margin: 50px 0px 0px 160px;
}
button:nth-child(4)
{
    font-size: 10px;
    width: 80px;
    margin:50px 62px;
}

.Counter{
    text-align: center;
    margin: 20px;
    font-size: 50px;
    font-family:fantasy;
}
